$cards: 4;
$height: 250px;

#viewport {
    min-width: 100;
    display: block;
    position: relative;
    padding-top: 20%;
    height: 350px;

    @media screen and (orientation : landscape) {
        padding-top: 0%;
        margin-top: 20%;
        @include transform(translateY(-50%));
    }
}

.cc, .again, .tutorial, .nostarred {
    width: 89%;
    margin: 5%;
    position: absolute;
    display: inline-block;
    @include perspective(900);

    @include perspective-origin(50% 50%);
    //@include transition(.5s $ease-in-out-quad all);
    @include transform-style(preserve-3d);
    @include transform(translate3d(0,0,0));

    &.active {
        @include transform(translateX(0));
    }
}

.again, .nostarred {
    z-index: 0;
    @include transform(translateZ(-160px));
    width: 60%;
    margin: 20%;
    border: 1px solid white;
    background: transparentize(darken($brand-primary, 20%), 0);
    border-radius: 5px;
    height: auto;

    a.btn {
        font-size: 1.6em;
        display: block;
        margin: 5px;
        text-align: left;

        span {
            font-size: .7em;
        }
    }
}

.nostarred a.btn {
    text-align: center;
}

// Card Design
.card {
    height: $height;
    @include transform-style(preserve-3d);
    @include transform-origin(50% 50%);
    @include transition(.4s $ease-in-out-quad all);
    @include transform(translateZ(-150px) rotate(0deg));

    .content {
        padding: 25px 30px;
        font-size: 2em;
        height: $height;
        background: transparentize(darken($brand-primary, 20%), 0);
        @include backface-visibility(hidden);
        border-left: 6px solid white;
        @include transform(rotateX(.1deg));
        font-weight: 400;

        .number {
            display: inline-block;
            position: absolute;
            top: 6px;
            right: 8px;
            font-size: .6em;
            opacity: .2;
            @include backface-visibility(hidden);
        }

        .good, .bad {
            @include backface-visibility(hidden);
            font-size: 1.5em;
            position: absolute;
            display: block;
            top: 75%;
        }

        .good {
            color: transparentize($brand-success, 0);
            left: 32%;
        }

        .bad {
            color: transparentize($brand-danger, 0);
            left: 58%;
        }

        &.de {
            z-index: 2;
        }

        &.en {
            @include transform(translateY(-$height) rotateX(180deg));
            background: transparentize(white, 0);
            border-left-color: darken($brand-primary, 20%);
            color: $brand-primary;

            a.star {
                 color: $brand-primary;
            }
        }
    }
}

a.star {
    border-bottom: none !important;
    position: absolute;
    bottom: 8px;
    right: 6px;
    padding: 0px 10px;
    font-size: 1.3em;

    .fa-star {
        display: none;
    }
}

li.word {
    .fa-star {
        display: none;
    }
}

.card.starred, .word.starred {

    .fa-star-o {
        display: none;
    }

    .fa-star {
        display: inline-block;
    }
}

.tutorial .card .content {
    border-left-color: black;
}

body.en-de {
    .card {
        .content.de {
            z-index: 1;
            @include transform(translateY(0px) rotateX(180deg));
        }

        .content.en {
            z-index: 2;
            @include transform(translateY(-$height) rotateX(0deg));
        }
    }
}

.cc:last-child {
    .card {
        @include transform(translateZ(0px));
        opacity: 1;
    }
}

span.bravo {
    display: none;
    padding-top: 11px;
    padding-bottom: 1px;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

body.bravo {
    span.bravo {
        display: block;
    }

    .again a.btn.notknown {
        display: none;
    }
}

.notification {
    font-size: 2em;
    width: 70%;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 43.3%;
    @include transform(translateZ(500px) translateY(-50%) scale(.5));
    opacity: 0;
    background-color: transparentize($brand-primary, .1);
    border: 1px solid white;
    border-radius: 6px;
    @include transition(.5s $ease-in-out-back all);
    display: none;

    .info {
        padding: 30px 10px 30px;
    }

    &.show {
         display: block;
    }

    &.in {
        @include transform(translateZ(500px) translateY(-50%) scale(1));
        opacity: 1;
    }

    &.out {
       @include transform(translateZ(500px) translateY(-50%) scale(3));
       opacity: 0;
    }

    i {
        display: block;
        text-align: center;
        width: 80px;
        margin: 0 auto;
        font-size: 3em;
    }

    &.trash, &#reseting {
        padding-bottom: 0px;

        .btn-group {
            width: 100%;
            margin: -10px 0px 0;
        }

        .btn {
            width: 50%;
            display: inline-block;
            border: none;
            border-top: 1px solid white;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;

            &.yes {
                border-right: 2px solid white !important;
            }
        }
    }

    &#reseting .info {
        font-size: .7em;
    }
}

#counter {
    position: absolute;
    top: 70px;
    right: 7%;
    width: 87%;

    @media screen and (orientation : landscape) {
        top: 10px;
    }

    #index {
        width: 100%;
        text-align: right;
    }

    span {
        text-align: right;
    }

    #countercontainer {
        margin-top: 2px;
        width: 100%;
        height: 9px;
        display: block;
        border-radius: 5px;
        background-color: $brand-primary;
    }

    #percentage {
        height: 9px;
        display: block;
        border-radius: 5px;
        @include transition(.3s $ease-in-out-quad width);
        background-color: darken($brand-primary, 20%);
    }
}

#reset {
    display: none;
}

body.shuffled #reset {
    display: block;
}