<div id="categories" class="container view active">
    <ul class="list">
        <li id="all"><a href="#">Alle Vokabeln <i class="fa fa-angle-right pull-right"></i></a></li>
        <li id="starred"><a href="#"><i class="fa fa-star"></i> Gekennzeichnete Vokabeln <i class="fa fa-angle-right pull-right"></i></a></li>
        <li id="new"><a href="#"><i class="fa fa-plus"></i> Kategorie hinzufügen</a></li>
    </ul>

    <div id="saved" class="notification">
        <i class="fa fa-check"></i>
        Karten wurden gemischt
    </div>

    <header>
        <a href="#" class="text-center">Kategorien</a> <a id="edit" href="#" class="pull-right"><i class="fa fa-pencil"></i> <span class="edit">Edit</span><span class="done">Fertig</span></a>
    </header>

    <!-- <footer>
        <a href="#" class="shuffle"><i class="fa fa-random"></i></a>
        <a href="#" class="direction en">en <i class="fa fa-angle-right"></i> de</a>
        <a href="#" class="direction de">de <i class="fa fa-angle-right"></i> en</a>
    </footer> -->
</div>