<div id="newcat" class="container view">
    <h4>Kategorie Details</h4>
    <ul class="list">
        <li><input type="text" class="form-control" placeholder="Kategorie Bezeichnung"></li>
    </ul>
    <h4>Enthaltene Vokabeln</h4>
    <ul class="list">
        {% for card in global.cards %}
            <li class="word" id="wordedit{{ card.id }}" data-id="{{ card.id }}"><a href="#"><i class="fa fa-check"></i><i class="fa fa-close"></i> {{ card.de | truncate: 25 }}</a></li>
        {% endfor %}
    </ul>

    <div class="notification trash">
        <div class="info">
            <i class="fa  fa-exclamation-triangle"></i>
            Kategorie unwiederruflich löschen?
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-primary btn-lg trashing yes">Ja</a>
            <a href="#" class="btn btn-primary btn-lg trashing no">Nein</a>
        </div>
    </div>

    <header>
        <a href="#" class="back"><i class="fa fa-angle-left"></i> Kategorien</a>
        <a class="trash pull-right" href="#"><i class="fa fa-trash"></i> Löschen</a>
    </header>

    <!-- <footer>
        <a class="trash pull-right" href="#"><i class="fa fa-trash"></i> Löschen</a>
        <a href="#" class="back"><i class="fa fa-check"></i> Speichern</a>
    </footer> -->
</div>