<div id="vocable" class="container view">
    <h4>Vokabel Deutsch</h4>
    <ul class="list">
        <li><textarea rows="4" class="form-control" placeholder="Deutsche Übersetzung"></textarea></li>
    </ul>
    <h4>Vokabel Englisch</h4>
    <ul class="list">
        <li><textarea rows="4" class="form-control" placeholder="Englische Übersetzung"></textarea></li>
    </ul>

    <div class="notification trash">
        <div class="info">
            <i class="fa  fa-exclamation-triangle"></i>
            Vokabel unwiederruflich löschen?
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-primary btn-lg trashing backtoall yes">Ja</a>
            <a href="#" class="btn btn-primary btn-lg trashing no">Nein</a>
        </div>
    </div>

    <header>
        <a href="#" class="backtoall"><i class="fa fa-angle-left"></i> Alle Vokabeln</a>
        <a class="trash pull-right" href="#"><i class="fa fa-trash"></i> Löschen</a>
    </header>

    <!-- <footer>
        <a class="trash pull-right" href="#"><i class="fa fa-trash"></i> Löschen</a>
        <a href="#" class="backtoall"><i class="fa fa-check"></i> Speichern</a>
    </footer> -->
</div>